# List of content
### 01. Import the libraries data sets into Jupyter
### 02. Aggregate mean of the 'order_number', grouped bby 'department_id' for the entire dataframe
### 03. Create a loyalty flag for existing customers using transform() and loc() functions
### 04. difference between the spending habits of the three types of customers, using the 'loyalty_flag' and the prices of the products they have purchased.
### 05. Create a spending flag for each user based on the average price across their orders
### 0.6- Determine the frequency of customers by using an order frequency flag to mark the regularity of the user's ordering behaviors according to the median in the 'days_since_prior_order' column.
### 07. Export data

# 01. Import the libraries data sets into Jupyter

In [65]:
import pandas as pd
import numpy as np
import os

In [66]:
# Turn the project folder path into a string
path = r'/Users/fatemehshahvirdi/Work-Related/Data Analysis/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [67]:
# import orders_products_merged
ords_prods_merge = pd.read_pickle (os.path.join(path, '02 Data', 'prepared Data', 'orders_products_merged_derived_downsized.pkl'))

# 02. Aggregate mean of the 'order_number', grouped bby 'department_id' for the entire dataframe

In [68]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

##### the difference between the minimum and maximum 'maen' has decreased. (the maximum 'mean' of the whole data frame is 22,90, but for the subset data frame is 25.53)

# 03. Create a loyalty flag for existing customers using transform() and loc() functions

In [69]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [70]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3

In [71]:
ords_prods_merge.loc[ords_prods_merge['max_order'] >40, 'loyalty_flag'] = 'loyal customer'

In [72]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] >10), 'loyalty_flag'] = 'regular customer'

In [73]:
ords_prods_merge.loc[ords_prods_merge['max_order']<= 10, 'loyalty_flag'] = 'new customer'

In [74]:
# check the frequency
ords_prods_merge['loyalty_flag'].value_counts(dropna= False)

loyalty_flag
regular customer    15876776
loyal customer      10284093
new customer         6243990
Name: count, dtype: int64

In [75]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,new_customer,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,new customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,new customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,new customer

# 04. difference between the spending habits of the three types of customers, using the 'loyalty_flag' and the prices of the products they have purchased.

In [76]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
loyal customer    10.386335  1.0  99999.0
new customer      13.294669  1.0  99999.0
regular customer  12.495717  1.0  99999.0

##### The avarage amount spent by a 'new customer' is 13, which is 3$ more than the average amount spent by a 'loyal_customer'.
##### 'new_customer' group spend the highest price, while the 'loyal_customer' group spend the lowest price but frequently,
##### The average amount spent by the 'regular customer' is closer to the 'loyal_customer' than the 'new customer'

# 05. Create a spending flag for each user based on the average price across their orders using this criteria:
### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [77]:
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [78]:
ords_prods_merge[['user_id', 'mean_product_price']].head()

   user_id  mean_product_price
0      138            6.935811
1      138            6.935811
2      709            7.930208
3      764            4.972414
4      764            4.972414

In [79]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [80]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [81]:
ords_prods_merge['spending_flag'].value_counts(dropna= False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [82]:
ords_prods_merge[['user_id', 'mean_product_price', 'spending_flag']].head()

   user_id  mean_product_price spending_flag
0      138            6.935811   Low spender
1      138            6.935811   Low spender
2      709            7.930208   Low spender
3      764            4.972414   Low spender
4      764            4.972414   Low spender

##### The number of Low spender is significiantly lesser than the number of high spenders

# 0.6- Determine the frequency of customers by using an order frequency flag to mark the regularity of the user's ordering behaviors according to the median in the 'days_since_prior_order' column.
### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [83]:
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [84]:
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_since_prior_order']].head()

   user_id  days_since_prior_order  median_days_since_prior_order
0      138                     3.0                            8.0
1      138                    20.0                            8.0
2      709                     6.0                            8.0
3      764                     NaN                            9.0
4      764                     9.0                            9.0

In [85]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [86]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] <= 20) & (ords_prods_merge['median_days_since_prior_order'] > 10), 'order_frequency'] = 'Regular customer'

In [87]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency'] = 'Frequent customer'

In [88]:
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

##### There are 5 nan values, which should be for the users who has not yet ordered but they were counted as customers.

# 06.5- Data cleaning added from Exercise 4.9

In [89]:
# Check values above a certain threshold to see outliers
ords_prods_merge.loc[ords_prods_merge ['prices']> 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_since_prior_order,order_frequency
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,...,High-range product,Regularly busy,Regularly busy,Most orders,40,regular customer,108.648300,High spender,5.0,Frequent customer
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,...,High-range product,Regularly busy,Regularly busy,Most orders,40,regular customer,108.648300,High spender,5.0,Frequent customer
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,...,High-range product,Regularly busy,Regularly busy,Average orders,4,new customer,1154.792236,High spender,12.0,Regular customer
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,...,High-range product,Busiest day,Busiest days,Average orders,4,new customer,1154.792236,High spender,12.0,Regular customer
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,...,High-range product,Regularly busy,Busiest days,Average orders,16,regular customer,114.426628,High spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,...,High-range product,Busiest day,Busiest days,Average orders,39,regular customer,1106.743896,High spender,4.0,Frequent customer
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,...,High-range product,Busiest day,Busiest days,Most orders,39,regular customer,1106.743896,High spender,4.0,Frequent customer
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,...,High-range product,Regularly busy,Slowest days,Most orders,15,regular customer,451.153534,High spender,5.0,Frequent customer
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,...,High-range product,Regularly busy,Slowest days,Average orders,12,regular customer,1178.381836,High spender,12.0,Regular customer
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,...,High-range product,Busiest day,Busiest days,Most orders,12,regular customer,1178.381836,High spender,12.0,Regular customer

In [90]:
# Mark those values as missing
ords_prods_merge.loc[ords_prods_merge['prices']>100, 'prices'] = np.nan

In [91]:
ords_prods_merge['prices'].max()

25.0

# 07. Export data

In [92]:
# Export as pickle file 
# Export derived data frame as pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))

In [93]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_since_prior_order,order_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,new customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,new customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Average orders,3,new customer,4.972414,Low spender,9.0,Frequent customer